.so-widget-sow-slider-base-637304ad2f3f .sow-slider-base .sow-slider-pagination li a {
  background: #540404;
}
.so-widget-sow-slider-base-637304ad2f3f .sow-slider-base .sow-slide-nav {
  font-size: 25px;
}
.so-widget-sow-slider-base-637304ad2f3f .sow-slider-base .sow-slide-nav a {
  color: #540404;
}
