.so-widget-sow-slider-base-3c5d969ffc02 .sow-slider-base .sow-slider-pagination li a {
  background: #540404;
}
.so-widget-sow-slider-base-3c5d969ffc02 .sow-slider-base .sow-slide-nav {
  font-size: 25px;
}
.so-widget-sow-slider-base-3c5d969ffc02 .sow-slider-base .sow-slide-nav a {
  color: #540404;
}
